
@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="card">
    <div class="card-content">
        @RenderBody()
    </div>
</div>
@section scripts
{
    @RenderSection("scripts", false)
}
@section headscripts
{
    @RenderSection("headscripts", false)
}
